.modal {
  &[data-rm-is-open='true'] {
    .modal__container {
      display: block;
    }
  }

  .modal__container {
    background: #00000050;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }

  .modal__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 25vw;
    height: 60vh;
    border-radius: 5px;
    border: 1px solid var(--rm-darkgray);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--header {
      background-color: var(--rm-gray);
      border-bottom: 1px solid var(--rm-darkgray);

      &-title {
        font-size: 2rem;
        padding: 1rem;
        font-weight: bold;
      }

      .modal--icon-container {
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &--body {
      flex: 1;
      padding: 1rem;
    }

    &--footer {
      padding: 1rem;
      background-color: var(--rm-gray);
      border-top: 1px solid var(--rm-darkgray);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;
    }
  }
}
